body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navi{
    width: 100%;
    overflow: hidden;
    border: 2px solid rgb(129, 131, 125);
    background-color: #65ab0a;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    flex-wrap: wrap;
}
.logo a img{    
    width: 80px;
    height: 72px;
    padding: 6px;
    margin: 8px;
    border-radius: 50%;
}
.search{
    width: 500px;
    height: 40px;
    border-radius: 4px 0px 0px 4px;
    border: none;
    margin-left: 40px;
    padding: 20px;
}
.search::placeholder{
    color: rgb(172, 169, 169);
    font-size: 16px;
}
.navbar-btn{
    width: 94px;
    height: 40px;
    border-radius: 0px 4px 4px 0px;
    background-color: #538c08;
    border: 1px solid #538c08;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.navbar-btn:hover{
    background-color: #3c6605;
}
.icon-search{
    padding-left: 8px;
}
.btn-search{
    color: #fff;
    font-weight: 560;   
    margin: 10px;          
}
.menu-area{
    list-style: none;
    margin: 34px;
}
.menu-area li{
    display: inline-block;
    margin: 0px 6px;
}
.menu-area li a{
    text-decoration: none;
    padding: 6px 10px;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}
.menu-area li a:hover{
    color: darkgreen;
    background-color: #a8ec4e;
}
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.banner{
    text-align: center;
    font-size: 32px;
    font-family: 'Dela Gothic One', cursive;
    padding: 8px;
    margin: 2px;   
    color: white;
    z-index: 1;    
}
.banner-video{
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;  
}
/*Featured plant section*/
.categoryh1{
    text-align: center;
}
.categoryh1 h1{
    margin: 0px;
    padding-top: 44px;
    font-size: 40px;
    color: #65ab0a;
}
.para{
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 44px;
    font-size: 28px;
    color: #65ab0a;
}
.font-name{
    font-family: 'Abril Fatface', cursive;
}
.featured-plant{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card1{
    width: 260px;
    height: 344px;
    cursor: pointer;    
    transition: 0.6s;
}
.card1 img{
    width: 100%;
    height: 260px;
    transition: 0.6s;
}
.card1:hover img{
    transform: scale(1.1);
}
.imagepara{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 22px;
    padding-bottom: 8px;
    color: #65ab0a;
    font-weight: 400;
}
.imagepara a{
    color: #65ab0a;
    text-decoration: none;
}
.imagepara a:hover{
    color: #3e6905;
}
/*Tools*/
.plant-tools{
    text-align: center;
}
.plant-tools h1{
    margin: 0px;
    padding-top: 44px;
    font-size: 40px;
    color: #65ab0a;
}
.alltools{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.tool-cards{
    width: 220px;
    height: 280px;
}
.card2{
    width: 220px;
    height: 322px;
}
.card2 img{
    width: 100%;
    height: 220px;
    transition: 0.6s;
    cursor: pointer;
}
.card2:hover img{
    transform: scale(1.1);
}
.card-para{
    margin-top: 2px;
}
/*Pots-Section*/
.plant-pots{
    text-align: center;
}
.plant-pots h1{   
    font-size: 40px;
    color: #65ab0a;
    margin: 50px 0px 50px 0px;
    padding-top: 40px;
}
.pot-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card3{
    width: 220px;
    height: 322px;
    margin-top: 16px;
}
.card3 img{
    width: 100%;
    height: 220px;
    cursor: pointer;
    transition: 0.6s;
}
.card3:hover img{
    transform: scale(1.1);
}
/*Services-Section*/
.plant-services{
    text-align: center;
}
.plant-services h1{
    margin: 60px 0px 72px 0px;
    font-size: 40px;
    color: #65ab0a;
}
.services-cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 36px;
}
.services-box{
    width: 400px;
    height: 532px;
    margin-top: 8px;
    margin-bottom: 36px;
    padding-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 16px 26px rgba(0,0,0,0.2); 
    transition: 0.4s;   
}
.services-box:hover{           
    transform: scale(1.1);
    background-color: #65ab0a;    
}
.services-box:hover .services-box2{
    color: #fff;
    transition: 0s;
}
.services-box:hover .services-box3{
    color: #fff;
    transition: 0s;
}
.services-box1{
    width: 100%;
    height: 280px;
    border-radius: 8px;
}
.services-box1 img{
    width: 100%;
    height: 280px;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
    transition: 0.6s;
}
.services-box2{
    padding-top: 18px;    
    padding-bottom: 4px;
    height: 40px;
}
.services-box3{
    margin-bottom: 20px;
    height: 110px;
    padding: 0px 14px 0px 14px;
}
.service-para{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
.services-box4{
    text-align: center;
}
.services-box4 a{
    text-decoration: none;
    background-color: #65ab0a;
    color: #fff;
    padding: 14px;
    border-radius: 26px;
    font-size: 18px;
}
.services-box4 a:hover{
    background-color: #a8ec4e;
    color: #395c0a;
    font-weight: 600;
}
/*About-Section*/
.about-us{
    width: 100%;
    background-color: #65ab0a;
}
.about-heading h1{
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    padding-top: 52px;
    padding-bottom: 52px;
}
.about-cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 64px;
}
.card5{
    width: 520px;
    height: 520px;
    text-align: center;
}
.card5 img{
    width: 100%;
    height: 520px;
    border-radius: 48px;
}
.card5 h2{
    font-size: 40px;
    color: #ffffff;
}
.about-para{
    color: #ffffff;
    font-size: 20px;
    line-height: 1.6;
    padding: 32px 0px 40px 0px;
}
.about-btn{
    text-decoration: none;
    color: #65ab0a;
    padding: 14px;
    border-radius: 26px;
    font-size: 18px;
    background-color: #ffffff;
}
.about-btn:hover{
    color: #fff;
    background-color: #395c0a;
    transition: 0.2s;
}
/*Workers-Section*/
.workers-heading h1{    
    text-align: center;
    font-size: 40px;
    color: #65ab0a;
    padding-top: 40px;
    padding-bottom: 52px;
}
.work{
    display: flex;
    justify-content: center;
}
.worker-cards{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.card6{
    width: 240px;
}
.card6 img{
    width: 100%;
    height: 240px;
    border-radius: 50%;
    cursor: pointer;    
    transition: 0.6s;
}
.card6:hover img{
    transform: scale(1.1);
}
.card6 p{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 22px;
    color: #65ab0a;
    cursor: pointer;    
    margin-top: 12px;
}
/*Contact-Section*/
.contact{
    width: 100%;
    margin: 0px;    
    padding-top: 20px;
    background-color: #65ab0a;
}
.contact h1{
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.form-group{
    width: 600px;
    display: flex;
    flex-direction: column;
}
label{
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}
label span{
    color: #fff;
}
.form-group input{
    height: 34px;
    margin-top: 14px;
    border-radius: 10px;
    border: none;
}
.form-group input::placeholder{
    color: rgb(131, 130, 130);
    font-size: 16px;
    padding-left: 20px;
}
.form-group textarea{
    height: 140px;
    margin-top: 10px;
    border-radius: 10px;
}
.form-group textarea::placeholder{
    color: rgb(131, 130, 130);
    font-size: 16px;
    padding-left: 20px;
    padding-top: 6px;
}
.contact-form button{
    margin-top: 20px;
    color: #65ab0a;
    background-color: #fff;
    margin-left: 252px;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 22px 8px 22px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}
.contact-form button:hover{
    background-color: #395c0a;
    color: #fff;
    font-weight: 600;
}
/*Footer*/
footer{
    background-color: #65ab0a;
    border-top: 2px solid #395c0a;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.foot-nav{
    display: flex;
}
.foot-nav li{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}
.foot-nav li a{
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
}
.foot-nav li a:hover{
    color: #395c0a;
}
.social-nav{
    display: flex;
    margin-right: 40px;
}
.social-nav li{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 160%;
}
.social-nav li a{
    text-decoration: none;
    color: #fff;
}
.fa-facebook-f,
.fa-twitter,
.fa-google-plus-g,
.fa-instagram{
    transition: 0.2s;
}
.fa-facebook-f:hover{
    color:  #3b5998;
}
.fa-twitter:hover{
    color: #00aced;
}
.fa-google-plus-g:hover{
    color: #dd4b39;
}
.fa-instagram:hover{
    color:  #517fa4;
}
.last-foot{
    text-align: center;    
    line-height: 1.5;
    color: #fff;
    font-size: 104%;
    padding-bottom: 20px;
}


@media(max-width: 460px){
    .logo a img {
        width: 58px;
        height: 50px;
        padding: 2px;
    }
    .search {
        width: 206px;
        height: 20px;
        margin-left: 8px;
        padding: 12px;
    }
    .navbar-btn {
        width: 80px;
        height: 27px;
    }
    .search::placeholder{
        font-size: 12px;
    }
    .menu-area {
        margin: 0px;
        margin-left: -6px;
    }
    .menu-area li {
        margin: 8px 0px;
    }
    .menu-area li a {
        padding: 0px 4px;
        letter-spacing: 0px;
        font-size: 12px;
        font-weight: 100;
    }
    .banner {
        font-size: 18px;
        padding: 0px;
        margin: 0px;
    }
    .categoryh1 h1 {
        padding-top: 14px;
        font-size: 24px;
    }
    .para {
        margin: 0px;
        padding-top: 8px;
        padding-bottom: 22px;
        font-size: 18px;
    }
    .card1 {
        width: 206px;
    }
    .card1 img {
        height: 206px;
    }
    .imagepara {
        font-size: 18px;
    }
    .plant-tools h1 {
        margin: 0px;
        padding-top: 0px;
        font-size: 24px;
    }
    .tool-cards {
        margin-top: 8px;
        width: 206px;
    }
    .card2 {
        width: 188px;
    }
    .card2 img {
        width: 100%;
        height: 188px;
    }
    .card-para {
        margin-top: 0px;
    }
    .plant-pots h1 {
        font-size: 24px;
        margin: 0px 0px 20px 0px;
        padding-top: 8px;
    }
    .card3 {
        width: 206px;
        height: 290px;
        margin-top: 20px;
    }
    .card3 img {
        height: 192px;
    }
    .plant-services h1 {
        margin: 0px 0px 38px 0px;
        font-size: 24px
    }
    .services-box {
        width: 298px;
        height: 470px;        
        margin-top: 0px;
        margin-bottom: 36px;
        padding-bottom: 4px;
    }
    .services-box1 {
        height: 232px;
    }
    .services-box1 img {
        height: 232px;
    }
    .services-box3 {
        padding: 0px 24px 0px 24px;
        margin-bottom: 18px;
        height: 96px;
    }
    .service-para {
        font-size: 16px;
    }
    .services-box4 a {
        font-size: 14px;
    }
    .about-heading h1 {
        font-size: 24px;
        padding-top: 18px;
        padding-bottom: 0px;
    }
    .card5 {
        width: 322px;
        height: 328px;
    }
    .card5 h2 {
        font-size: 20px;
    }
    .about-para {
        font-size: 16px;
        line-height: normal;
        padding: 0px 0px 8px 0px;
    }
    .about-btn {
        padding: 8px;
        font-size: 16px;
    }

    .card5 img {
        height: 328px;
    }
    .workers-heading h1 {
        font-size: 24px;
        padding-top: 12px;
        padding-bottom: 24px;
    }
    .card6 {
        width: 222px;
        margin-bottom: 12px;
    }
    .card6 img {
        height: 222px;
    }
    .card6 p {
        font-size: 22px;
        margin-top: 6px;
    }
    .contact {
        padding-top: 2px;
    }
    .contact h1 {
        font-size: 24px;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .form-group {
        width: 332px;
    }
    label {
        font-size: 16px;
    }
    .form-group input {
        height: 28px;
    }
    .form-group textarea {
        height: 100px;
    }
    .contact-form button {
        margin-top: 16px;
        margin-left: 128px;
        font-size: 16px;
        padding: 6px 14px 6px 14px;
    }
    .footer-nav {
        flex-wrap: wrap;
        margin-left: 12px;
    }    
    .foot-nav li {    
        padding-left: 2px;
        padding-right: 8px;
        font-size: 14px;
    }
    .social-nav {
        margin-right: 0px;
        margin-left: 62px;
    }
    .social-nav li {
        font-size: 120%;
    }
    .last-foot {
        line-height: 1.6;
        font-size: 74%;
    }
}